*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width : 100%;
  min-height: 100vh;
  padding: 20px;
  background: lightblue;
  display: inline-flex;
}

.container{
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.accordian{
  width: 100%;
  max-width: 540px;
  margin: 18px auto;
  color: black;
  height:100px;
}

.accordianHeading{
  background: grey;
  padding: 14px 0;
  margin: 18px;
}

.accordianHeading .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordianHeading p{
  letter-spacing: 1.2px;
  font-weight: 600;
}

.accordianHeading span{
  cursor : pointer;
}

.accordianContent{
  height:0;
  opacity: 0;
  display: flex;
  overflow: hidden;
  transition: all 600ms ease-in-out
}

/* .accordianContent.show{
  height: 80px;
  opacity: 1;
} */

.accordianContent p{
  font-size: 15px;
  line-height: 1.6;
}

.div-table {
  display: table;         
  width: auto;         
  /* background-color: #eee;          */
  /* border: 1px solid #666666;          */
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 200px;         
  /* background-color: #ccc;   */
}

.showAccordianContent{
  position: absolute;
  width:800px;
  left:54px; 
}